body {
    font: .8em Verdana,sans-serif;
    color: #9a9898;
}

header {
    max-width: 100%;
}

.gravitar-menu {
    height: 35px;
}

.project, .scan {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em !important;
    padding: 1.25em;
}
    .NotTested {
        border-color: #d9d9d9;
        background: #f2f2f2;
    }

    .Warning {
        border-style: solid;
        border-width: 1px;
        border-color: #ffc04e;
        background: #ffe7be;
    }

    .Pass {
        border-style: solid;
        border-width: 1px;
        border-color: #198d0a;
        background: #c5ffbe;
    }

    .Fail {
        border-style: solid;
        border-width: 1px;
        border-color: #ff0000;
        background: #ffbebe;
    }

    .scan ul {
        list-style-type: none;
    }
        .scan li {
            display: inline;
            padding: 5px;
            font-weight: bold;
        }

.logo {
     height: 25px;
}

.heavy {
    font-weight: bold;
}