body {
    font: .8em Verdana,sans-serif;
    color: #9a9898;
}

header {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.gravitar-menu {
    height: 35px;
}

.title-logo {
    margin-left: 10px;
    line-height: 45px;
}

div.Pass {
    border-color: #467b2b;
}

div.Warning {
    border-color: #e19817;
}

div.Fail {
    border-color: #b4140e;
}

h5 span.Pass.result {
    color: #467b2b;
}

h5 span.Warning.result {
    color: #e19817;
}

h5 span.Fail.result {
    color: #b4140e;
}

.project, .scan, .scanResult {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1.25em !important;
    padding: 1.25em;
}

    .project.NotTested, .scan.NotTested, .scanResult.NotTested {
        border-color: #d9d9d9;
        background: #f2f2f2;
    }

    .project.Warning, .scan.Warning, .scanResult.Warning {
        background: #F6E0B9;
    }

    .project.Pass, .scan.Pass, .scanResult.Pass {
        background: #C8D7BF;
    }

    .project.Fail, .scan.Fail, .scanResult.Fail {
        background: #E8B8B7;
    }

    .scan ul {
        list-style-type: none;
    }

    .scan li {
        display: inline;
        padding: 5px;
        font-weight: bold;
    }

.logo {
    height: 25px;
}

.heavy {
    font-weight: bold;
}

.statusSummary span {
    cursor: pointer;
    padding: 5px 7px 5px 7px;
    margin: 0 3px 8px 0;
    display: inline-table;
    border: none;
}

.statusSummary .Pass {
    background-color: #467b2b;
}

.statusSummary .Warning {
    background-color: #e19817;
}

.statusSummary .Fail {
    background-color: #b4140e;
}

.scanSummary {
    font-size: 0.8em;
}

.page-wrap {
    width: 100%;
    float: right;
    transition: width 0.3s ease;
}

a.sidebar-button {
    margin-top: 8px;
    margin-bottom: 6px;
    display: inline-block;
}

    a.sidebar-button img {
        margin-top: -6px;
        width: 23px;
    }

    a.sidebar-button h4 {
        font-size: 22px !important;
        display: inline !important;
        margin-left: 10px;
        line-height: 1;
        color: #fff;
        font-weight: bold !important;
    }

#sidebar {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #3B3B3B;
    overflow-y: auto;
    padding: 0px;
    -webkit-box-shadow: inset -2px 0px 8px -1px #111111;
    box-shadow: inset -2px 0px 8px -1px #111111;
    padding-top: 10px;
}


@media screen and (max-width: 58.75em) {
    #sidebar:target {
        width: 60%;
    }

        #sidebar:target + .page-wrap {
            width: 40%;
        }
}


#sidebar h5 a {
    font-size: 20px !important;
}

#sidebar hr {
    margin: 8px 0 20px 0;
    border-color: #444444 !important;
}

#sidebar h6, #sidebar h5 {
    color: #727272;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: 'Proxima Nova Condensed', 'proxima-nova-condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar h6 {
    font-size: 14px;
    font-weight: bold;
}

#sidebar .nav-bar {
    background: none;
    margin-bottom: 0px;
}

    #sidebar .nav-bar li {
        width: 100%;
        box-shadow: none !important;
    }

        #sidebar .nav-bar li a {
            font-size: 20px !important;
            font-weight: 500;
            color: #ccc;
            font-family: 'Proxima Nova','ProximaNova', 'proxima-nova';
            font-weight: 600;
            padding: 0px !important;
        }

.nav-bar {
    height: 110px;
    background: #4d4d4d;
    margin-left: 0;
    margin-top: 8px !important;
}

    .nav-bar.goodness {
        height: 120px;
        background: #4d4d4d;
        margin-left: 0;
        margin-top: 20px;
        padding: 0;
    }

    .nav-bar > li {
        float: left;
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        border-right: none;
        line-height: 38px;
    }

        .nav-bar > li a.current {
            color: #ffffff !important;
            font-weight: 700;
        }

        .nav-bar > li > a {
            color: #bbbbbb;
            display: block;
        }

        .nav-bar > li ul {
            margin-bottom: 0;
        }

        .nav-bar > li .flyout {
            display: none;
        }

#sidebar .main-menu {
    overflow-x: hidden;
}

#sidebar .main-menu, #sidebar .more-goodness, #sidebar .zurb-links {
    padding: 0px 15px;
}
