body {
    font: .8em Verdana,sans-serif;
    color: #9a9898;
}

header {
    max-width: 100%;
}

.gravitar-menu {
    height: 35px;
}

div.Pass {
    border-color: #467b2b;
}
div.Warning {
    border-color: #e19817;
}
div.Fail {
    border-color: #b4140e;
}

h5 span.Pass.result {
    color: #467b2b;
}
h5 span.Warning.result {
    color: #e19817;
}
h5 span.Fail.result {
    color: #b4140e;
}

.project, .scan, .scanResult {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1.25em !important;
    padding: 1.25em;
}

    .project.NotTested, .scan.NotTested, .scanResult.NotTested  {
        border-color: #d9d9d9;
        background: #f2f2f2;
    }

    .project.Warning, .scan.Warning, .scanResult.Warning  {
        background: #F6E0B9;
    }

    .project.Pass, .scan.Pass, .scanResult.Pass  {
        background: #C8D7BF;
    }

    .project.Fail, .scan.Fail, .scanResult.Fail  {
        background: #E8B8B7;
    }

    .scan ul {
        list-style-type: none;
    }
        .scan li {
            display: inline;
            padding: 5px;
            font-weight: bold;
        }

.logo {
     height: 25px;
}

.heavy {
    font-weight: bold;
}

.statusSummary span {
    cursor: pointer;
    padding: 5px 7px 5px 7px;
    margin: 0 3px 8px 0;
    display: inline-table;
    border: none;
}
    .statusSummary .Pass {
        background-color: #467b2b;
    }
    .statusSummary .Warning {
        background-color: #e19817;
    }
    .statusSummary .Fail {
        background-color: #b4140e;
    }

.scanSummary {
    font-size: 0.8em;
}