@using System.Collections.Generic
@using ASafaWeb.Library.DomainModels
@using Asafaharbor.Web.HTMLExtensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}
<div class="small-8 small-offset-2">
    <div class="row">
        <form method="POST">
            <fieldset>
                <legend>Log in</legend>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="Email" class="right inline">Email</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" id="Email" name="Email" placeholder="e.g. johnsmith@sharklasers.com" value="@Model.LoginModel.Email">
                        @Html.ValidationMessageFor((List<ErrorModel>)Model.Page.Errors, "Email")
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="Password" class="right inline">Password</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="password" id="Password" name="Password">
                        @Html.ValidationMessageFor((List<ErrorModel>)Model.Page.Errors, "Password")
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="RememberMe" class="right inline">Remember Me</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="checkbox" id="RememberMe" name="RememberMe">
                    </div>
                </div>
                <div class="row">
                    <div class="small-9 small-offset-3 columns">
                        <input type="submit" class="small button"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
