@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
  Layout = "_Layout.cshtml";
}
<div class="row">
    <iframe src="http://notfound-static.fwebservices.be/404/index.html?&amp;key=019d23443f7890c842c95b19cb167390" width="100%" height="650" frameborder="0"></iframe>
</div>