@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}
<div class="small-10 small-offset-1">
    <div class="row">
        <div class="large-7 columns">
            <h2>Projects</h2>
        </div>
        <div class="large-3 columns">
            <a href="Projects/New" class="button">Create Project</a>
        </div>
    </div>
</div>
